@model Transactions

<form method="post" asp-controller="User" asp-action="UpdateAccount">
    <div class="form-group">
        <label asp-for="@Model.amount">Deposit/Withdraw Amount</label> 
        @TempData["notEnough"]       
        <input class="form-control" asp-for="@Model.amount" type="number" step="0.01">
    </div>    
    <input class="btn btn-default" type="submit" value="Submit">         
</form>